<a href="https://colab.research.google.com/github/weasel-codes/covid-patient-recovery/blob/main/Covid19_Patient_Recovery_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relevant imports

In [1]:
import numpy as np
import matplotlib.pyplot as plot
import pandas as pd

# Importing Dataset

In [10]:
dataset = pd.read_csv('PatientInfo.csv')
dataset = dataset.iloc[:,:]
dataset.

      patient_id     sex  age  ... released_date deceased_date     state
0     1000000001    male  50s  ...    2020-02-05           NaN  released
1     1000000002    male  30s  ...    2020-03-02           NaN  released
2     1000000003    male  50s  ...    2020-02-19           NaN  released
3     1000000004    male  20s  ...    2020-02-15           NaN  released
4     1000000005  female  20s  ...    2020-02-24           NaN  released
...          ...     ...  ...  ...           ...           ...       ...
5160  7000000015  female  30s  ...    2020-06-13           NaN  released
5161  7000000016     NaN  NaN  ...    2020-06-24           NaN  released
5162  7000000017     NaN  NaN  ...           NaN           NaN  isolated
5163  7000000018     NaN  NaN  ...           NaN           NaN  isolated
5164  7000000019     NaN  NaN  ...           NaN           NaN  isolated

[5165 rows x 14 columns]